<div class="promote-products--inner page-width">
  <h2 class="promote-products--heading">Promote products</h2>
</div>

{% schema %}
  {
    "name": "t:sections.promote-products.name",
    "tag": "section",
    "class": "promote-products"
  }
{% endschema %}

{% comment %}
{
"promote-products": {
"name": "Promote products"
}
}
{% endcomment %}